{{!-- <h1>Here is your collections</h1>

{{#each collections}}
<h3>Name: {{name}}</h3>
<ul>
    <li>ID: {{id}}</li>
    <li>Category: {{category}}</li>
    <li>Item Number: {{itemNum}}</li>
    <li>Set Last Updated: {{updatedAt}}</li>
</ul>
{{/each}} --}}